/************ homepag  **************/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

a{
  list-style: none;
  text-decoration: none;
}
.margin{
  margin: 10px;
}
.margin5{
  margin: 5px;
}
.margin_left5{
  margin-left: 5px;
}
.margin_left10{
  margin-left: 10px;
}
.margin_right5{
  margin-right: 5px;
}
.margin_right10{
  margin-right: 10px;
}
.white_space{
white-space: nowrap;
}

.homepage{
  min-width:800px;
  max-width:800px;
  min-height: 100vh;
  max-height: 100vh;
  margin:auto;
  background-color: black;
  background-color: #344C11;
  background-color: #1d518d;

  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .homepage{
      min-width:99vw;
      max-width:99vw;
     
  }
}

.homeBodyCon{
  width: 100%;
  min-height: 87vh;
  color: #286ebd;
  color: #0077ff;
  position: relative;
  overflow: hidden;
  
  background-color:white;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  


 /* background-image: url('../homeMap/Screen\ Shot\ 2022-12-01\ at\ 9.19.33\ PM.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
  
}
/*********************** nav bar *******************************/

.navbar{
  width: 100%;
  min-height: 5vh;
  max-height: 5vh;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.392);
  background-color: white;
}
.con1{
  width: 100%;
  height: 10%;
  height: 100%;

  text-align: center;
  margin: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
 /* background-color: #286ebd; */


}
.con1son1{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  min-width: 15%;
  height: 70%;
  margin-left: 20px;
  
  background-color: #286ebd;
  background-color: white;
  color: #286ebd;
  color: #0077ff;

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392);


  border-radius: 20px;
  border-radius: 5px;

  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;


}
.con1son2{
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  background-color:transparent;

  

  border-radius: 5px;
  display: flex;
  color: black;
  color: rgba(0, 0, 0, 0.609);
  color: white;

  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none; 
scrollbar-width: none;
}
.con1son2::-webkit-scrollbar {
  display: none;
}

.languLi{
  margin: 3px;
  min-height: 50%;
  max-height: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  color: black;
  color: #2189ff;
  border-radius: 5px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
 
}
.languLi:active{
  color: salmon;
}

  

/***** notToGether notification  ***/
.notification{
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: absolute;
  bottom: 50%;
  max-width: 90%;
  min-width: 90%;
  max-height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-left: 5%;

 
}
.notificationBtn{
  max-width: 25%;
  min-width: 25%;
  max-height: 30px;
  min-height: 30px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
}
.notificationBtn:focus{
  max-width: 35%;
  min-width: 35%;
  max-height: 20px;
  min-height: 20px;
}

/*********** iframeMap ********/
.iframeMap{
  /* background-image: url('./Screen\ Shot\ 2022-12-01\ at\ 9.19.33\ PM.png'); */
   background-image: url('../public/Screen\ Shot\ 2022-12-01\ at\ 9.19.33\ PM.png');

   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   border-bottom: 8px solid white;
   padding-bottom: 10px;
   flex-grow: 1;
   flex: auto;
}
.iframeMapNoInternet{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-image: url('../public/Screen\ Shot\ 2022-12-01\ at\ 9.19.33\ PM.png');
  background-position: center;
 background-repeat: no-repeat;
 background-size:cover; 
 flex-grow: 1;
}

/*********** Client Number Form ********/

.clientNumberForm{
  position: relative;
  min-height:150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  
   padding-top: 1px;
}
.clientNumberFormSmall{
  min-height:max-content;
  max-height:130px;
  padding-bottom: 10px;
  justify-content:start;
  background-color: white;
  flex-shrink: 0;

}

.clientNumberFormTo{
  position: relative;
  position: absolute;
  min-height:100px;
  max-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  background-color: #0077ff;
  background-color: transparent;
  top: 0px;
  
}
@media screen and (max-height:400px){
  
  .clientNumberForm{
      position: fixed;
      bottom: 50px;

  }
}

.clientNumberFormInputError{
  min-width: 90%;
  min-height: 35px;
  margin: 5px;
  padding-left: 10px;
  font-size: 18px;
  outline-color: goldenrod;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.clientNumberFormInput{
  min-width: 80%;
  max-width: 80%;
  min-height: 30px;
  margin: 0px;
  padding-left: 10px;
  font-size: 14px;
  outline-color: white;
  background-color: rgb(255, 255, 255);
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1.5px solid #0077ff; 
  
}
.clientNumberFormInputTo{
  min-width: 80%;
  max-width: 80%;
  min-height: 30px;
  margin: 0px;
  padding-left: 10px;
  font-size: 14px;
  outline-color: white;
  background-color: rgb(255, 255, 255);
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid lightgray; 
}
.clientNumberFormInputTo:focus{
  min-width: 80%;
  max-width: 80%;
  min-height: 30px;
  margin: 0px;
  padding-left: 10px;
  font-size: 16px;
  outline-color: #0077ff;
  box-shadow: 10px 10px 10px lightgrey;
  background-color: white;
  color: black;
  border: none;
}

.clientNumberFormInput:focus{
  outline-color: #0077ff;

}
.clientNumberFormInput::placeholder {
  color:#0077ff;

}
.clientNumberFormInputBtnCon{
  min-width: 80%;
  max-width: 80%;
  min-height: 30px;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 14px;
  outline-color: white;
  background-color: rgb(255, 255, 255);
  background-color: transparent;
  color: black;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
.clientNumberFormBtn{
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  display:flex;
  justify-content:center;
  align-items: center; 
  box-shadow: 1px 1px 10px lightgray;
  background-color: #0077ff;
  color: white;

}
.clientNumberFormBtn:active{
  background-color: lightgray;
}
@media screen and (min-width:420px){
  clientNumberFormBtn{
      min-width: 50%;
      max-width: 50%;
     
  }
}

/************* searchCar  *************/

.searchCarBtnBodyCfooter{
  position: relative;
  position: fixed;
  position: sticky;
  color: black;
  bottom: 55px;
  width: 100%;
  max-height:100px;
  min-height: 100px;
  background-color: white;
  color: #286ebd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
.searchCarBtnBodyFindClientCon{
  max-height:200px;
  min-height:200px;
}
.searchBtn{
  min-width:80%;
  max-width:80%;
 min-height:35px;
  background-color:black;
  color:white;
   margin-top:15px;
  border-radius:5px;
  font-size:14px;
  border: none;
  }
  .searchBtn:focus{
    background-color: #0077ff;
    transition: background-color 1000ms ease-out;

  }
.driverNotFoundTo{
  color: white;
  width: 95%;
  max-height: 30px;
  min-height: 30px;
  font-size: 18px;
  background-color:gray;
  position: absolute;
  top: -34%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.CircularProgressConN{
  position: relative;
  min-width: 100%;
  min-height: 120px;
  max-height: 120px;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.loaderCancel{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 20px;
  background-color: #0077ff;
  background-color: black;
  background-color: transparent;
  color: #0077ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
  font-size: 40px;

}
.loaderCancel:focus{
  background-color: gray;

}

.loader,
.loader:before,
.loader:after {
  background: #0077ff;
  background-color: black;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #0077ff;
  color: black;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loaderCancel{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 20px;
    background-color: #0077ff;
    background-color: black;
    background-color: transparent;
    color: #0077ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    font-size: 40px;

}
/****************** user interface contener ********************/
.loadingCon{
  position: relative;
  min-width: 100%;
  padding-top: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  bottom: 0px;
  background-color: white;  
}

.iconConRefreshDriverInfo{
  position: absolute;
  top: -15.5px;
  left:7%;
}

/****************** shour btn ********************/

.shourBtnConTitle{
  position: absolute;
  top:10%;
  z-index: 10;
  font-size: 16px;
  font-weight: bolder;
  color: black;

  
}
.shourBtnConTitleD{
left: 50%;
transform: translate(-50%);
font-weight: 400;
line-height:1.3;
letter-spacing: 1px;
}

.shourBtnCon{
  position: absolute;
  bottom: 30.5px;
  right: 50%;
  transform: translate(50%);
  width: 98%;
  max-height: 50px;
  min-height: 50px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  border:none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  
}
.shourBtnConD{
  z-index: 100;
}
.shourBtnConTitle{
  position: absolute;
  top:10%;
  z-index: 10;
  font-size: 16px;
  font-weight: bolder;
  color: black;

  
}
.shourBtnConTitleD{
left: 50%;
transform: translate(-50%);
font-weight: 400;
line-height:1.3;
letter-spacing: 1px;
}
.shourBtnConYes{
  margin-left: 7%;
  max-width: 20%;
  min-width: 20%;
  max-height: 35px;
  min-height: 35px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 10px 10px lightgray;
  font-size: 14px;
  line-height:1.3;
  letter-spacing: 1px;
  color: #3692fb;
  font-weight: bolder;
  background-color: black;

}
.shourBtnConNo{
  margin-right: 7%;
  max-width: 20%;
  min-width: 20%;
  max-height: 35px;
  min-height: 35px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392);
  font-size: 14px;
  line-height:1.3;
  letter-spacing: 1px;
  color: red;
  font-weight: bolder;
  background-color: black;

}
/**********  finish    *********/
.CircularProgressConCancel2{
  position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translate(50%);
    width: 40%;
    height: 40px;
    border-radius: 8px;
    background-color:#0077ff;
    background-color: rgba(249, 37, 37, 0.651);
    background-color: rgb(255, 4, 188);
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height:1.3;
    letter-spacing: 1px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.longBtnCon{
  position: relative;
  width: 210px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  margin-bottom: 30px;
}
.CircularProgressConCancel2:active{
  background-color: rgba(249, 37, 37, 0.082);
  width: 210px;
  height: 50px;
  
}

/********************* driver info display *****************************/
.driverInfoCon{
  min-width: 93%;
  min-height: 90px;
  max-height: 90px;
  position: relative;
  padding-left: 10px;
  color: black;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.driverInfoConInfo{
  min-width: 90%;
  max-width: 90%;
  max-height: 20px;
  min-height: 20px;
  display: flex;
  font-size:12px ;
  margin-left: 17%;
  line-height:1.3;
  letter-spacing: 1px;
 
}
.driverInfoConInfoSpan{
  margin-left: 5px;
  min-width: 80%;
  max-width: 80%;
  max-height: 20px;
  min-height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  color: black;
  overflow: hidden;
  overflow-x: scroll;
  padding-left: 5px;
  text-transform:capitalize;
  font-size:12px ;
  line-height:1.3;
  letter-spacing: 1px;

}
.driverImgCon{
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0px;
  left:0%;
  border: 1px dashed black;
}
.driverImgCon:hover{
  position: absolute;
  top: -30px;
  width: 160px;
  height: 130px;
  border-radius: 10px;
  z-index: 100;
}

.callDriverCon{
  min-width:max-content;
  max-width:max-content;
  min-height:30px;
  max-height:30px;
  border-radius: 20px;
  display: flex;
  gap:40px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left:2%;
  bottom: 0px;

  
}
.callDriverCon a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  
}

/********************* message  *****************************/

.messageConClient{
  max-width: 800px;
  min-width: 800px;
  max-height: 100vh;
  min-height: 100vh;
  position: absolute;
  bottom: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-color: black;

  z-index: 200;
  position: fixed;
  overflow-x: scroll;
  overflow-y: scroll;
}
@media screen and (max-width:800px){
  .messageConClient{
      max-width:100vw;
      min-width: 100vw;
  }
}
.messageFormClient{
  position: relative;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
 
}
.messageViewConClient{
  position: absolute;
  position: fixed;
  max-width: 790px;
  min-width: 790px;
  max-height: 70%;
  min-height: 45%;
  left:50vw;
  transform: translate(-50%);
  top:10%;
  bottom: 120px;
  border: none;
  overflow-y:scroll;
  overflow-x: hidden;
  scroll-behavior: smooth; 
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-left: 10px;

} 
@media screen and (max-width:800px){
  .messageViewConClient{
      max-width:100%;
      min-width: 100%;
     
  }
}
.messageView{
  max-width:90%;
  min-width: 5%;
  min-height: max-content;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.8px;
  color:black;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  position: relative; 
}
.messageView::placeholder{
  color: white;
}

.messageBtnClient{
  position: absolute;
  max-width: 15%;
  min-width: 15%;
  max-height: 30px;
  min-height: 30px;
  right: 3%;
  bottom: 10px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 20px;
  border: none;
  background-color: #0077ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}
.messageBtnClientBack{
  bottom: 70px;
  background-color: transparent;
  font-size: 300px;
}
@media screen and (max-width:800px){
  .messageBtnClient{
      position: fixed;
      max-width: 10%;
  min-width: 10%;
  right: 20px;
  font-size: 16px;
  font-weight: 900;
  }
}
.messageBtnClientRefresh{
  right: 20px;
  left: 20px;
  bottom: 70px;
}

@media screen and (min-width:800px){
  .messageBtnClientRefresh{
      bottom: 155px;
  }
}
@media screen and (min-width:800px){
  .messageBtnClientRefreshDr{
      bottom: 65px;
  }
}
.messageBtnClient:focus{
  background-color: lightgray;
}
.messageInputClient{
  position: absolute;
  max-width: 60%;
  min-width: 60%;
  max-height: 30px;
  min-height: 30px;
  left: 5%;
  bottom: 10px;
  padding-left: 10px;
  border: none;
  border: 1px solid #0077ff;
  border-radius: 20px;
  margin-bottom: 2%;

}
@media screen and (max-width:800px){
  .messageInputClient{
      position: fixed;
     
      left: 50%;
      transform: translate(-70%);
  }
}

/******************** footer **************************/

.footerCon{
  color: black;
  width: 100%;
  min-height: 7.5vh;
  max-height: 7.5vh;
  background-color: white;
  background-color: transparent;
  background-color: white;
  color: #286ebd;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border-top: 0px solid black;
  padding-top: 10px;

}
.iconCon{
  width: 18%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.iconCon:active{
  background-color: lightgray;
}
.iconName{
  font-size: 11px;
  margin-bottom: 4px;
}
/************  Sign In  ***************/
.driveSignInCon{
  position: relative;
  z-index: 1;
  margin: auto;
  width: 100vw;
  min-width:800px;
  max-width:800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
@media screen and (max-width:800px){
  .driveSignInCon{
      min-width:99vw;
      max-width:99vw;
     
  }
}
.background{
  position:absolute;
  z-index: -1;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.756);
  background-color: rgba(0, 0, 0, 0.658);
  background-color: rgb(239, 238, 238);
  background-color: #3586e242;



}

.driveSignInRegisterForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-height:90vh;
  padding: 10px;
  padding-top: 40px;
  overflow-y: scroll;
  -ms-overflow-style: none; 

  border-radius: 10px;
 /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392); */
 background-color: black;
 background-color: rgba(0, 0, 0, 0.363);
 background-color: white;
 box-shadow: 1px 1px 10px black;


}
.updateForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-height:90vh;
  padding: 10px;
  padding-top: 40px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  border-radius: 10px;
 background-color: #e2e6f6;
 box-shadow: 1px 1px 10px black;
}

.driveLogOutRegisterForm{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  max-height:90vh;
  min-height: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392);
  background-color:rgb(255, 255, 255);


}
.logedDriverImg{
  max-width:100px ;
  min-width: 100px;
  max-height: 100px;
  min-height:100px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: -25%;
  border: 10px solid white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
  /* background-position: center;
  background-image: url('../image/personNew.jpeg');
  background-repeat: no-repeat;
  background-size:contain; */

}
.driveLogOutRegisterFormInfoCon{
  position: relative;
  position: absolute;
  top: 22%;
  max-height: 40%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.driveLogOutRegisterFormInfo{
  position: absolute;
  top: 5%;
  width: 90%;
  max-height: 30%;
  min-height: 30%;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.driveLogOutRegisterFormInfo2{
  position: absolute;
  top: 38%;
  width: 90%;
  max-height: 30%;
  min-height: 30%;

  border: none;
 
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.driveLogOutRegisterFormInfo-1{
  width: 90%;
  max-height: 20%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.driveLogOutRegisterFormInfoName{
  font-size: 14px;

}
.driveLogOutRegisterFormInfoPlName{
  font-size: 14px;
  color: gray;
  

}
.driveSignInRegisterForm::-webkit-scrollbar {
  display: none;
}
.updateForm::-webkit-scrollbar {
  display: none;
}

.driveSignInRegisterForm input{
  width: 90%;
  max-height: 20px;
  min-height: 20px;
  border: none;
  margin: 0px;
  margin-bottom: 8px;
  padding: 10px;
  border-bottom: 2px solid #2784ee42;
  background-color: transparent;
  color:black;
  font-size: 14px;
  line-height:1.3;
  letter-spacing: 1px;
}
.updateInput{
  width: 90%;
  max-height: 25px;
  min-height: 25px;
  border: none;
  margin: 0px;
  padding: 10px;
  border-bottom: 2px solid #2784ee42;
  border: none;
  color:black;
  font-size: 12px;
  line-height:1.3;
  letter-spacing: 1px;
  display: flex;
  align-items:center;
}
.driveSignInRegisterForm input::placeholder{
  color:gray;
  font-size: 12px;
}
.updateInput::placeholder{
  color:gray;
  font-size: 12px;
  
}
.logInInput{
  width: 90%;
  max-height: 6px;
  min-height: 20px;

  border: none;
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
  background-color: white;
  background-color: lightgrey;

  color: black;
}
.driveSignInRegisterForm input:focus{
  background-color:transparent;
 
}
.updateInput:focus{
  background-color:transparent;
 
}
.driveSignInRegisterFormBtn{
  min-width: 90%;
  max-width: 90%;
  max-height:40px ;
  min-height: 40px;
  margin-top: 8px;
  margin-bottom: 20px;
  background-color: #286ebd;
  border: none;
  color: white;
  border-radius: 5px;
font-family: fantasy;
font-family:-apple-system, sans-serif;
font-size: 16px;
line-height:1.3;
letter-spacing: 1px;
}
@media screen and (min-width:800px){
  .driveSignInRegisterFormBtn{
      min-width:50%;
      max-width:50%;
     
  }
}
.driveSignInRegisterFormBtn:focus{
  background-color: #286ebda8;

}

.driveSignInRegisterFormBtn2{
  width: 97%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #286ebd;
  border: none;
  color: white;
  font-size: 23px;
  border-radius: 5px;
font-family: fantasy;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);


}
@media screen and (min-width:420px){
  .driveSignInRegisterFormBtn2{
      min-width: 50%;
      max-width: 50%;
     
  }
}
.driveSignInRegisterFormBtn2:focus{
  background-color: #286ebda8;

}
.editNameForm{
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.editInput{
  width: 60%;
  max-height: 30%;
  min-height:30%;


  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
  background-color: lightgrey;

  color: black;
}

.editBtn{
  width: 20%;
  max-height: 30%;
  min-height:30%;
  margin-left: 30px;


  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
  background-color: black;

  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height:1.3;
  letter-spacing: 1px;
}
.signinLinks{
  color: rgb(149, 0, 255);
  margin-left: 5px;
  font-size: 14px;
}

.regFormCard{
  background-color:white;
  box-shadow: 1px 1px 10px lightgray;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
/*///////////////////////////////////////////////////   driver ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*DriverHome*/

.searchCarBtnDriverHomeCon{
  max-width: 100%;
  min-width: 100%;
  min-height: 75px;
  max-height: 75px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}
.onlineheadingCon{
  position: relative;
  max-width: 100%;
  min-width: 100%;
  min-height: 12%;
  max-height: 12%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content:flex-start;
  background-color: #0077ff;
  background-color: rgba(255, 255, 255, 0.581);
  background-color: white;
  padding-bottom: 10%;

}
.searchCarOnlineView{
  margin-top: 0px;
  width:max-content;
  height:30px;
  font-size: 14px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.392);
  background-color: rgba(255, 255, 255, 0.581);
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* acceptance card**/
.acceptanceConGo{
    max-width: 98%;
    min-width: 98%;
    max-height: 40%;
    min-height: 230px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
}
.acceptanceConMsg{
  max-width: 90%;
  min-width: 90%;
  max-height: 50px;
  min-height: 50px;
  font-size: 25px;
  color: black;
  font-size: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;

}
.acceptanceConMsgTime{
  color:#286ebd;;
 
  max-height: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 30px;
 
}
.acceptanceConMsgPrice{
   
  max-height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex: 2;
  font-size: 30px;
}
.birrCon{
  font-size: 18px;
  font-style: italic;
  color: gray;
}
.acceptanceConWhere{
  max-width: 95%;
  min-width: 95%;
  max-height: 40px;
  min-height: 20px;
  font-size: 16px;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: flex-start;

}
.acceptanceConWhereTitle{
  color: #013f86;
  max-width: 10%;
  min-width: 10%;
  max-height: 99%;
  min-height: 99%;
}
.acceptanceConWhereInfo{
max-width: 87%;
min-width: 87%;
margin-left: 2%;
padding-left: 1%;
max-height: 99%;
min-height: 99%;
border: none;
font-size: 16px;
overflow: auto;
overflow-x: scroll;
}
@media screen and (max-width:420px){
  .acceptanceConWhereInfo{
     max-width: 67%;
     min-width: 67%;
     margin-left: 20px;

  }
}
.acceptanceConBtnCon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width:98%;
  min-width: 98%;
  height: max-content;
  margin-bottom: 10px;
  margin-top: 15px;
 
}
.loadingConDriver{
  position: relative;
  min-width: 100%;
  padding-top: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
 

}

.acceptanceConGo2{
  max-width: 97%;
  min-width: 97%;
  max-height: 190px;
  min-height: 190px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  position: relative;
}

.acceptanceConWhere2{
  max-width: 95%;
  min-width: 95%;
  max-height: 15px;
  min-height: 15px;
  font-size: 16px;
  color: black;
  padding: 5px;
  margin-bottom:0px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

}
.acceptanceConWhere2Price{
  max-width:max-content;
  min-width:max-content ;
  max-height: 20px;
  min-height: 20px;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  color: black;
  box-shadow: 1px 1px 10px lightgrey;
  

}
.acceptanceConWhere2PriceCall{
  box-shadow: none;
  background-color: transparent;
  border-bottom: none;

}
.acceptanceConWhere2:hover{
  max-width: 95%;
  min-width: 95%;
  max-height: 40px;
  min-height: 40px;
  font-size: 16px;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: flex-start;

}
.acceptanceConWhereTitle2{
  color: #013f86;
  max-width: 10%;
  min-width: 10%;
  max-height: 99%;
  min-height: 99%;
}
.acceptanceConWhereInfo2{
  max-width: 87%;
  min-width: 87%;
  margin-left: 4%;
  padding-left: 3%;
  padding-bottom: 2px;
  max-height:20px;
  min-height:20px;
  border: none;
  font-size: 14px;
  overflow: auto;
  overflow-x: scroll;
 }
 .acceptanceConWhereInfo2:hover{
     max-width: 87%;
     min-width: 87%;
     margin-left: 4%;
     padding-left: 3%;
     max-height:40px;
     min-height: 40px;
     border: none;
     font-size: 14px;
     overflow: auto;
     overflow-x: scroll;
     background-color:#f8fafc;
    }

    .acceptanceConWhereInfo2Price{
      margin-left: 10px;
  }
  .messageIcon{
    position: absolute;
    bottom: 15%;
    right:6%;
    padding: 5px;
    box-shadow: 1px 1px 10px lightgrey;
}
  .loadingConDriverClientInfoName{
    min-width: 25%;
    max-width: 55%;
    min-height: 25px;
    max-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    text-decoration: none;
   /* box-shadow: 10px 10px 10px rgb(177, 175, 175);*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    
    overflow: hidden;
    text-align: center;
    padding-top: 5px;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px lightgrey;

}
.loadingConDriverClientInfoNameD{
    bottom:15%;
    left:0%;
}
.messageViewEnd{
  position: absolute;
  width: 10px;
  height: 30px;
  bottom: -5px;
  right: 0px;
  background-color: inherit;
  border-top-right-radius: 50%;
  border-bottom-right-radius:100%;
  border-bottom-left-radius: 100%;
  z-index: -1;
}


/*///////////////////////////////////////////////////   admins page ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.regCon{
  background-color:white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  justify-content: flex-start;
  padding: 20px 0px;
  

}

.titleOfProfile{
  margin:5px 0px;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.membersLength{
 padding: 2px 10px;
 font-size: 14px;
 background-color: #0077ff;
 color: white;
 margin-left: 15px;
 border-radius: 5px;
}

.formCon{
  min-width:600px;
  max-width:600px;
  min-height:max-content;
  background-color:transparent;
  box-shadow: 1px 1px 10px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  border-radius: 20px;
  padding-bottom: 20px;

}
.formConUpdate{
  margin-bottom: 20px;
}
.row{
  margin: 12px 0;
  min-width: 85%;
  max-width: 85%;
  height: 42px;
 background-color: white;
outline: none;
padding: 0 15px;
font-size: 15px;
font-weight: 400;
border: 1.5px solid #C7BEBE;
border: none;
border-bottom-width: 2.5px;
border-bottom: 1px solid #00c8ff;
border-radius: 6px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-height:800px) and (min-height:620px){
  .row{
      height: 40px;
      margin: 10px 0px;
  }
}

@media screen and (max-height:619px) and (min-height:550px){
  .row{
      height: 30px;
      margin: 7px 0px;
  }
}

@media screen and (max-height:549px){
  .row{
      height: 20px;
      margin: 6px 0px;
      font-size: 13px;
      border: none;
      border-bottom: 1px solid lightgray;
  }
}
@media screen and (max-width:500px) {
  .formCon{
      min-width: 90vw;
      min-height:max-content;
    /*  margin-top: 10px; */
  }
  .formConReceipt{
      align-self: center;
      min-width: 85vw;
      max-width: 85vw;
      margin: auto;
  }
}

@media screen and (max-width:750px) and (min-width:501px) {
  .formCon{
      min-width: 80vw;
      min-height:max-content;
  }
}

@media screen and (max-height:440px){
  .formCon{
     min-height: 198px;
     max-height: 100px;
     overflow-y: scroll;
  
  }
  .row{
      min-height: 28px;
      margin: 6px 0px;
      font-size: 13px;
      border: none;
      border-bottom: 1px solid lightgray;
  }
}
.formConIntroCon{
  margin-top: 20px;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 10px;
  border: 1px solid #1aadca;
}
  .formConIntro{
      max-width: 90%;
      min-width:90%;
       min-height:40px;
       max-height: 40px; 
       margin: 5px 10px;
       
       border: 1px solid #1aadca ;
       color: black;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgb(249, 245, 245);
       border-radius: 10px;
       

  }

  .listOfMembersCon{
    padding: 0px;
    box-shadow: 0px 0px 0px;
    
    
    }
    @media screen and (max-height:440px){
      .listOfMembersCon{
         min-height:35px;
         max-height: 35px;
         overflow-y: scroll;
         background-color: transparent;
      
      }
      .listOfMembersConSearch{
          min-height:80px;
         max-height: 80px;
      }
      .listOfMembersConSearchM{
          min-height:35px;
         max-height: 35px;
      }
      .listOfMembersConAdd{
          max-height: 120px;
          min-height: 120px;
          overflow-y: auto;
      }
      
  }
  .listCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    min-height: 40px;
    max-height: 40px;
    min-width: 100%;
    max-width:100%;
    box-shadow: 1px 1px 10px lightgray;
    overflow-x: scroll;
    border-bottom: 1px solid #0077ff;
   
   }
   .regConDelete{
    position: relative;
    overflow-y: scroll;
}

.deleteMemberConPayment{
  box-shadow: none;
  flex-direction: row;
  min-height:25px;
  max-height: 25px;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  padding-right: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}
.deleteMemberConPaymentText{
  font-size: 14px;
  font-weight: 600px;
  min-height:25px;
  max-height: 25px;
  padding: 0px;
  justify-content: center;
  align-items: end;
  box-shadow: none;
  color: #0077ff;
}

.spanOfList{
  margin-right:10px ;
  display: flex;
  color: black;
}